h1, p{
    font-size: 30px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    color: whitesmoke;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

#sora_image{
    bottom: 50px;
    left: 50%;
    position: absolute;
    transition-property: bottom;
    transition-duration: 2s
}

.floated{
    width: 25%;
    height: 30px;
    bottom: 0px;
    margin-right:5px;
}

footer{
    text-align: center;
}

body {
    background-image: url('background.png');
    background-size: cover;
  }